*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

* {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

.image {
  display: none;
}

.nav {
  position: fixed;
  width: 200px;
  height: 100%;
  background: black;
  top: 0;
  right: -200px;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid white;
  transition: right .5s;
}

.close-nav {
  position: fixed;
  top: 10px;
  right: -20px;
  height: 20px;
  width: 20px;
  background: white;
  z-index: 304234234;
  border: none;
}

.nav-button {
  width: 40px;
  height: 40px;
  background: black;
  position: fixed;
  right: 0;
  top: 0;
  /*transform: translateY(-50%);*/
}

.nav-button:active~.nav, .nav-button:hover~.nav {
  right: 0;
}

.nav:hover {
  right: 0;
}

.nav ul {
  list-style-type: none;
  padding-top: 30px;
}

.nav ul li {
  padding: 20px;
  border-bottom: 1px solid white;
}

.container {
  width: 95%;
  margin: 10px auto 0;
}

.header {
  position: relative;
  height: 70px;
}

.title {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-bottom: 20px;
}

.jumbotron {
  margin-bottom: 20px;
}

.jumbotron h1, .jumbotron h2 {
  margin-bottom: 10px;
}

.item {
  margin-bottom: 20px;
}

.item h2 {
  margin-bottom: 10px;
}

@media screen and (min-width: 600px) {
  .image {
    display: inline-block;
    height: 170px;
    float: left;
    width: 170px;
    background: black;
  }

  .item-content-container {
    width: calc(100% - 170px);
    float:right;
    padding-left: 10px;
  }

  .item:nth-of-type(even) .image {
    float: right;
  }

  .item:nth-of-type(even) .item-content-container {
    float: left;
    padding-left: 0;
    padding-right: 10px;
  }
}

@media screen and (min-width: 970px) {
  .nav-button {
    display: none;
  }

  .nav {
    position: relative;
    display: block;
    height: 100%;
    width: auto;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
  }

  .nav ul {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    list-style-type: none;
    height: auto;
    padding: 0;
    margin: 0;
  }

  .nav ul li {
    display: inline-block;
    width: 100px;
    height: 24px;
    background-color: black;
    margin-left: 10px;
    padding: 0;
    border: none;
  }

  .item div, .item:nth-of-type(even) .image, .item:nth-of-type(even) .item-content-container {
    float: none;
    padding: 0;
  }

  .item-content-container {
    width: 100%;
  }

  .item {
    width: 32%;
    float: left;
    text-align: center;
  }

  .item-content-container p {
    text-align: left;
  }

  .item:nth-of-type(even) {
    margin-left: 2%;
    margin-right: 2%;
  }
}
